<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css" >
    <title>MediMinder</title>
</head>
<body>
    {{{body}}}
    <footer>
    <nav>
        <a href="/user_account">user account page</a>
        <a href="/medication_history">medication history page</a>
        <a href="/medication_list">medication list page</a>
        {{#if loggedIn}}
        <button id="logout-btn">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
    </nav>

    {{#if loggedIn}}
    <script src="./js/logout.js"></script>
    {{/if}}
    </footer>
</body>
</html>