<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediMinder</title>
</head>
<body>
    {{{body}}}

    <nav>
        <a>user account page</a>
        <a>medication history page</a>
        <a>medication list page</a>
        {{#if loggedIn}}
        <button id="logout">logout</button>
        {{else}}
        <a>login</a>
        {{/if}}
    </nav>
</body>
</html>