<p>create account</p>

<input type="text" id="email-input" placeholder="Please enter a valid email">
<input type="text" id="user-input" placeholder="Create username">
<input type="text" id="pass-input" placeholder="Create Password">
<p>Password must be between 6 and 14 characters.</p>
<button id="create-btn">Submit</button>

<script src="./js/create-account.js"></script>