<link href="medicineTrackingStyle.css" rel="stylesheet" type="text/css">

<header>
    <div id="blue-rect"></div>
    <h1 id="mediminder-title">MediMinder</h1>
    <h2 id="med-track-title">Medicine Tracking</h2>
</header>
<main>
    <button class='icon-btn'><a href="/">Return to list of medications</a></button>
<div id="med-name-div">
    <label id="med-name-label" for="med-name">Medication Name</label><br />
    <div class="inner-addon left-addon">
    {{!-- <img src="Assets/images/pill 1.png" alt="Pill Image" id="pill" /> --}}
    <input type="text" id="med-name" name="med-name" class="med-name" />
    </div>
    <div id="drop-down-list" class="hidden"></div>
</div><br />

    <div>
        <label id="medication-times-label" for="medication-times">When do you take it?</label><br />
        <select id="medication-times">
            <option value="default">---</option>
            <option value="Upon waking up">Upon waking up</option>
            <option value="With breakfast">With breakfast</option>
            <option value="With Lunch">With Lunch</option>
            <option value="With Dinner">With Dinner</option>
            <option value="At Bedtime">At Bedtime</option>
        </select>
    </div><br />

    <div id="start-end-div">
        <div id="start-div">
            <label id="start-date-label" for="start-date">Start date</label>
            <input type="date" id="start-date" name="start-date" />
        </div>
        <div id="end-div">
            <label id="end-date-label" for="end-date">End date</label>
            <input type="date" id="end-date" name="end-date" />
        </div>
    </div>

    <section id="checkbox-section">
        <div id="checkbox-section-left">
            <input type="radio" id="daily" name="radio" checked />
            <label for="daily">Daily</label><br />
            <input type="radio" id="every-other" name="radio" />
            <label for="every-other">Every Other Day</label>
            <p id="custom-schedule">+ Custom Schedule</p><br />
        </div>

        <div id="checkbox-section-right">
            <label class="switch">
                <input type="checkbox" id="toggleBtn" name="toggleBtn">
                <span class="slider"></span>
                <span class="slider-text">Notifications</span>
            </label>
        </div>

    </section>

    <button id="save">SAVE</button>
</main>

<script src="./js/med-options.js"></script>
<script src="./js/medicine-tracking.js"></script>