<p>login</p>

<input type="text" id="user-input" placeholder="Username">
<input type="text" id="pass-input" placeholder="Password">
<button id="login-btn">Submit</button>

<p>Don't have an account? <a href='/create_account'>Create one here.</a> </p>


<script src="./js/login.js"></script>