<head>
  {{!--
  <link href="no-pic.css" rel="stylesheet" type="text/css"> --}}
  <link href="medicineTrackingStyle.css" rel="stylesheet" type="text/css">
</head>
<header>
  <div id="blue-rect"></div>
  <h1 id="mediminder-title">MediMinder</h1>
  <h2 id="med-track-title">Medicine Tracking</h2>

</header>

<main id="curve">

  <body>

    <h4>Please sign in to continue</h4>

    <input type="text" id="user-input" placeholder="  Username">
    <input type="text" id="pass-input" placeholder="  Password">

    <button id="login-btn">Sign In</button>
      <p> Don't have an account?</p>
      <a class = "sign-up-base" href='/create_account'>Create one here.</a>
 
  </body>
   </main>

<script src="./js/login.js"></script>