<head>
  <link href="medicationList.css" rel="medicationList stylesheet" type="text/css">
</head> 

<header>
<h1>MediMinder</h1>
<h2>Medication List</h2>
</header>

<main>
    <container>
        <h2>List of Medications:</h2>
        <section id="list"></section>

    <button class='icon-btn list-btn'><a href="/medicine_tracking">Add a new medication here!</a></button>
    <button class='icon-btn list-btn'><a href="/instances">Check your past med admin times from today</a></button>
</main>

<script src="./js/medication-list.js"></script>

<script src="./js/notifications.js"></script>


