<link href='https://fonts.googleapis.com/css?family=Noto Sans Javanese' rel='stylesheet'>
<link rel="stylesheet" href="calendarStyle.css" />

<header>
    
</header>

<div id="calendar-body">
    <h1>Medication History</h1>

    <div id="month-selector">
        <button id="left"></button>
        <h2 id="month">Month</h2>
        <button id="right"></button>
    </div>

    <div id="calendar">
        <div id="week1">
            <p>su</p>
            <p>mo</p>
            <p>tu</p>
            <p>we</p>
            <p>th</p>
            <p>fr</p>
            <p>sa</p>
        </div>
        <div id="week2">
            <p>su</p>
            <p>mo</p>
            <p>tu</p>
            <p>we</p>
            <p>th</p>
            <p>fr</p>
            <p>sa</p>
        </div>
        <div id="week3">
            <p>su</p>
            <p>mo</p>
            <p>tu</p>
            <p>we</p>
            <p>th</p>
            <p>fr</p>
            <p>sa</p>
        </div>
        <div id="week4">
            <p>su</p>
            <p>mo</p>
            <p>tu</p>
            <p>we</p>
            <p>th</p>
            <p>fr</p>
            <p>sa</p>
        </div>
        <div id="week5">
            <p>su</p>
            <p>mo</p>
            <p>tu</p>
            <p>we</p>
            <p>th</p>
            <p>fr</p>
            <p>sa</p>
        </div>
        <div id="week6">
            <p>su</p>
            <p>mo</p>
            <p>tu</p>
            <p>we</p>
            <p>th</p>
            <p>fr</p>
            <p>sa</p>
        </div>
    </div>
</div>

<script src="./js/medication-history.js"></script>