<h1>MediMinder</h1>
<h2>Medication List</h2>

<main>
    <h3>List of Medications:</h3>
    <section id="list"></section>

    <button class='icon-btn list-btn'><a href="/medicine_tracking">Add a new medication here!</a></button>
</main>

<script src="./js/medication-list.js"></script>
<script src="./js/notifications.js"></script>