<link rel="stylesheet" href="calendarStyle.css" />

<header>
    
</header>

<div id="calendar-body">
    <h1>Medication History</h1>

    <div id="month-selector">
        <button id="left"></button>
        <h2 id="month">Month</h2>
        <button id="right"></button>
    </div>

    <div id="calendar">
        <div id="sunday"></div>
        <div id="monday"></div>
        <div id="tuesday"></div>
        <div id="wednesday"></div>
        <div id="thursday"></div>
        <div id="friday"></div>
        <div id="saturday"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script>dayjs().format()</script>
<script src="./js/medication-history.js"></script>