<head>
  <link href="no-pic.css" rel="stylesheet" type="text/css">
</head>

<main>

  <body>
    <div class ="container" >
    <header>User Account</header>

    <label for="wake"> What time do you wake up?</label>
    <input type="time" id="wake" name="appt" required />

    <label for="wake"> What time do you eat breakfast?</label>
    <input type="time" id="eatB" name="appt" required />

    <label for="wake"> What time do you eat lunch?</label>
    <input type="time" id="eatL" name="appt" required />

    <label for="wake"> What time do you eat dinner?</label>
    <input type="time" id="eatD" name="appt" required />

    <label for="wake"> What time do you got to bed?</label>
    <input type="time" id="sleep" name="appt" required />


    <button id="saveBtn" type="submit">SAVE
      <img src="/Assets/images/pill 1.png"> </img>
    </button>
    </div>
  </body>
  <script src="../js/user-account.js"></script>

</main>