<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Account</title>
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <header>User Account</header>



  <label for="wake"> What time do you wake up?</label> <br/>
  <input type="time" id="wake" name="appt" required /> <br/>

  <label for="wake"> What time do you eat breakfast?</label> <br/>
  <input type="time" id="eatB" name="appt" required /> <br/>
  
  <label for="wake"> What time do you eat lunch?</label> <br/>
  <input type="time" id="eatL" name="appt" required /> <br/>
  
  <label for="wake"> What time do you eat dinner?</label> <br/>
  <input type="time" id="eatD" name="appt" required /> <br/>

  <label for="wake"> What time do you got to bed?</label> <br/>
  <input type="time" id="sleep" name="appt" required />



</body>

</html>