<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Account</title>
  <link rel="stylesheet" href= "css/style.css"/>
</head>

<body>
  <header>User Account</header>
  <p>What time do you wake up?</p>
  <textarea class="col-8 col-md-10 description" rows="2"> </textarea>
  <p>What time do you eat breakfast?</p>
  <textarea class="col-8 col-md-10 description" rows="2"> </textarea>
  <p>What time do you eat lunch?</p>
  <textarea class="col-8 col-md-10 description" rows="2"> </textarea>
  <p>What time do you eat dinner?</p>
  <textarea class="col-8 col-md-10 description" rows="2"> </textarea>
  <P>What time do you go to bed?</P>
  <textarea class="col-8 col-md-10 description" rows="2"> </textarea>


</body>

</html>