/* * {
    border: 1px solid red;
} */

/*title styles*/
#mediminder-title {
    font-family: 'Noto Sans Javanese';
    font-size: 16px;
    color: var(--headermedblue);
    line-height: 25px;
    padding: 0 0 0 15px;
    font-weight: 400;
    letter-spacing: 1.25px;
    z-index: 1;
}

#med-track-title {
    font-family: 'Noto Sans Javanese';
    font-size: 22px;
    color: white;
    line-height: 25px;
    padding: 0 0 0 15px;
    font-weight: 700;
    letter-spacing: 2.5px;
    margin-top:3px;
    z-index: 1;
}

/*main (rounded section) styles*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#med-name, #medication-times {
    width: 277px;
    height: 39px;
    position: relative;
}

#med-name-div {
    margin-top: 40px;
}

.hidden {
    display: none;
}

#drop-down-list {
    width: 277px;
    height: 39px;
    border: 1px solid var(--headermedblue);
    background-color: white;
    position: absolute;
    z-index: 2;
    border-radius: 8px;
}

#drop-down-list div {
    font-family: 'Noto Sans Javanese';
    font-size: 13px;
    padding-left: 5px;
    padding-top: 3px;
    border-radius: 8px;
}

#drop-down-list div:hover {
    background-color: var(--headermedblue);
    cursor: pointer;
}

#start-end-div {
    display: flex; 
    justify-content: center;
}

#start-div, #end-div {
    display: flex;
    flex-direction: column;
}

#end-div {
    margin-left: 33px;
}

#start-date, #end-date {
    width: 122px;
}

/*checkbox section*/

#checkbox-section {
    display: flex;
    justify-content: space-between;
    width: 277px;
}

input#daily, input#every-other, input#notifications {
    width: 24px;
    height: 22px;
    background-color: white;
    border-radius: 8px;
    vertical-align: middle;
    border: 1px solid var(--borderlblue);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input#daily:checked, input#every-other:checked, input#notifications:checked {
    background-image: url("/Assets/images/7-Check.png");
    background-repeat: no-repeat;
    background-position: center;
}

#custom-schedule {
    cursor: pointer;
}

@media only screen and (max-width: 500px){
    #blue-rect {
        background-color: var(--bluesquare);
        width: 188px;
        height: 105px;
        position: absolute;
        z-index: .9;
    }
}

