 body main {
  background-color: #F2F8FC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh; 
}

main {
  border-radius: 0px 0px 0px 0px;
 
}

header {
  font-family: 'Noto Sans Javanese';
  color: #3791B3;
  align-items: center;
  height: 105px;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
}

label {
  font-family: 'Noto Sans Javanese';
  color: #699AAC;
  display: block;
  text-align: left;
  margin-right: 10px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
}

input[type="time"] {
  width: 277px; 
  display: block;
  margin: 0 auto 20px;

}

button#saveBtn {
  display: block;
  margin: 50px auto;
  padding: 5px 20px;
  text-align: center;
}

button#login-btn {
  display: block;
  margin: 50px auto;
  padding: 5px 20px;
  text-align: center;
}

.container {
width: 277px


}

h1, h2, h3, p, a {
  font-family: 'Noto Sans Javanese';
  color: #3791B3;
}

h4 {
  /* margin: 20px auto; */
  /* padding: 5px 20px; */
}

#user-input {
  margin: 20px auto;
  padding: 5px 20px;
}

#pass-input {
  margin: 20px auto;
  padding: 5px 20px;
}

#email-input {
  margin: 20px auto;
  padding: 5px 20px;
}

#create-btn {
  margin: 20px auto;
  padding: 5px 20px;
}

#login-btn {
  margin: 20px auto;
  padding: 5px 20px;
}

#curve {
  border-radius: 15px 15px 0px 0px;
}

#p1 {

}
