:root {
    --bglblue: #F2F8FC;
    --headermedblue: #3791B3;
    --textmedblue: #699AAC;
    --borderlblue: #AECAD5;
    --footergray: #D9D9D9;
    --bluesquare: #72C1DF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/Assets/images/pillbackground.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
}

header {
    height: 105px;
    width: 100%;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

main {
    background-color: var(--bglblue);
    border-radius: 15px 15px 0px 0px;
    height: 515px;
    z-index: 1;
}

label, #custom-schedule {
    font-family: 'Noto Sans Javanese';
    color: var(--textmedblue);
    font-size: 12px;
    line-height: 25px;
}

input, select {
    border: var(--borderlblue) solid 1px;
    height: 39px;
    border-radius: 8px;
}

footer {
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: var(--footergray) solid 1px;
    margin: 0;
}

footer>a>img:hover {
    border-bottom: 2px solid var(--headermedblue);
}

footer>a>img:active {
    border-bottom: 2px solid var(--headermedblue);
}