:root {
    --bglblue: #F2F8FC;
    --headermedblue: #3791B3;
    --textmedblue: #699AAC;
    --borderlblue: #AECAD5;
    --footergray: #D9D9D9;
    --bluesquare: #72C1DF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/Assets/images/pillbackground.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
}

header {
    height: 105px;
    width: 100%;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

main {
    background-color: var(--bglblue);
    border-radius: 15px 15px 0px 0px;
    height: auto;
    min-height: 515px;
    z-index: 1;
}

label, #custom-schedule {
    font-family: 'Noto Sans Javanese';
    color: var(--textmedblue);
    font-size: 12px;
    line-height: 25px;
}

input, select {
    border: var(--borderlblue) solid 1px;
    height: 39px;
    width: 277px;
    border-radius: 8px;
   
}

footer {
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: var(--footergray) solid 1px;
    margin: 0;
    z-index: 2;
}

#medication-history, #user-account, #medication-tracking, #logout, #login{
    display: none;
}

.icon-btn{
    background: none;
    outline: none;
    border: none;
}

.list-btn{
    padding-top: 10px;
    padding-bottom: 10px;
}

h1, h2, h3, h4, p, a {
    font-family: 'Noto Sans Javanese';
    color: #3791B3;
  }
  
  .user-input {
    margin: 15px auto;
    padding: 5px 20px;
  }
  
  .pass-input {
    margin: 50px auto;
    padding: 5px 20px;
  }

  @media screen and (min-width: 700px){

    body{
        width: 75%;
        margin: auto;
    }

    main{
        border-radius: 15px 15px 15px 15px;
        height: 550px
    }

    footer{
        top: 0%;
        height: 75px;
        left: 0px;
    }

    #medication-history, #user-account, #medication-tracking, #login, #logout{
        display: block;
    }

    #mediminder-title{
        position: absolute;
        left: -15%;
        top: 100px;
    }

    #med-track-title{
        position: absolute;
        left: -15%;
        top: 80px;
    }
}

  @media screen and (min-width: 700px){

    body{
        width: 75%;
        margin: auto;
    }

    main{
        border-radius: 15px 15px 15px 15px;
        height: 550px
    }

    footer{
        top: 0%;
        height: 75px;
        left: 0px;
    }

    #medication-history, #user-account, #medication-tracking, #login, #logout{
        display: block;
    }

    #mediminder-title{
        position: absolute;
        left: -15%;
        top: 100px;
    }

    #med-track-title{
        position: absolute;
        left: -15%;
        top: 80px;
    }
}
